notebook
-e git+https://github.com/T-E-Lab/ImagingAnalysis-clone.git@f818cf5dc811cc1581b44e2d223f947d51862101#egg=imganlys
matplotlib
numpy
pandas
napari[all]
opencv-python
tifffile
scanimage-tiff-reader